/* Global */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: inherit;
}
.contain {
  display: block;
  width: 100%;
  position: absolute;
  margin: 0;
  text-align: center;
}
.section__title {
  margin-bottom: 5rem;
}
.back {
  width: 40vw;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 5%;
  z-index: -99;
  filter: blur(4px);
  display: block;
  margin: 0px auto;
}
/* Navigation bar */
nav {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav a:hover {
  text-decoration: line-through;
}
.logo {
  margin-left: 5%;
}
.logo img {
  width: 2em;
}
.menu {
  margin-right: 8vw;
  font-weight: 700;
  display: inline-block;
  padding: 15px;
  color: white;
  transition: 0.2s ease;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .openMenu {
  font-size: 2rem;
  margin-right: 5%;
  display: none;
  cursor: pointer;
}
nav .closeMenu {
  display: none;
}

/* Main section */
#main {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  justify-content: center;
  align-items: center;
}
/*=============== HOME ===============*/
.home {
  overflow: hidden;
  transition: 0.4s; /*For animation dark mode*/
}

.home__container {
  padding: 4rem 0 1rem;
  row-gap: 8.5rem;
}

.home__title {
  font-size: 10rem;
  font-weight: 800;
}

.home__description {
  margin: 1rem 0 2rem;
}

.home__title,
.home__description {
  line-height: 140%;
}

/* Lastest works container and cards*/
#work {
  height: 100vh;
  margin: 0 auto;
}
.works__container {
  padding: 4rem 0;
}

.works__card {
  width: 270px;
}

.works__img {
  width: 300px;
  height: 430px;
  margin-bottom: 1rem;
}

.works__card:hover {
  transform: scale(1.2);
}

.works__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.works__price {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  font-size: 1.5rem;
  color: var(--title-color);
}

.swiper-button-prev {
  left: calc(50% - 2rem);
}

.swiper-button-next {
  right: calc(50% - 2rem);
}

.contact__container {
  background: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 30rem;
  margin: 7rem auto;
}

/* ------------------- ASIDE -------------------- */
.contact__aside {
  background: black;
  padding: 3rem;
  position: relative;
  bottom: 0rem;
  text-align: center;
  align-items: center;
}

.aside__image {
  width: 12rem;
  margin-bottom: 2rem;
}

.contact__aside h2 {
  margin-bottom: 1rem;
}

.contact__aside p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.contact__details li {
  display: grid;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__socials {
  display: flex;
  gap: 0.8rem;
  margin-top: 3rem;
  justify-content: space-evenly;
}

.contact__socials a {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 0.9rem;
  transition: var(--transition);
}

.contact__socials a:hover {
  background: transparent;
}

.contact__socials img {
  height: 3em;
  margin: 1vh;
  color: white;
}

/* ------------------- FORM -------------------- */

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 4rem;
}

.form__name {
  display: flex;
  gap: 1.2rem;
}

.form__name::placeholder {
  color: #2a2b2a;
}
.contact__form input[type="text"] {
  width: 50%;
}
.btn {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  background: white;
  color: black;
}

.contact__form .btn {
  width: max-content;
  margin-top: 1rem;
  cursor: pointer;
}
/* Scroll to top button */
.scrollTop {
  position: fixed;
  right: 1rem;
  bottom: 15%;
  background-color: white;
  box-shadow: 0 8px 12px hsla(220, 18%, 45%, 0.15);
  display: inline-flex;
  padding: 0.35rem;
  font-size: 1.1rem;
  z-index: 1;
  transition: 0.3s;
}
.scrollTop:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  transform: translateY(-1rem);
}
/* Footer */
#footer {
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a2b2a;
}
#footer p {
  font-size: small;
}
#footer p:last-child {
  margin-top: -15px;
  color: rgba(0, 0, 0, 0.5);
}
#footer img {
  height: 3em;
  margin: 1vh;
  color: inherit;
}
.copyright {
  padding: 1rem;
}

/* ------------------- MEDIA QUERIES(TABLET) -------------------- */
@media screen and (max-width: 1024px) {
  .contact {
    padding-bottom: 0;
  }

  .contact__container {
    gap: 1.5rem;
    margin-top: 3rem;
    height: auto;
    padding: 1.5rem;
  }

  .contact__aside {
    width: auto;
    padding: 1.5rem;
    bottom: 0;
  }

  .contact__form {
    align-self: center;
    margin-right: 1.5rem;
  }
}

/* ------------------- MEDIA QUERIES(MOBILE) -------------------- */
@media screen and (max-width: 600px) {
  nav .mainMenu {
    height: 30vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 2vh;
    right: 2vw;
  }
  nav .openMenu {
    display: block;
    padding-right: 5%;
  }
  nav .closeMenu {
    display: block;
    font-size: 2em;
    padding-right: 5%;
  }
  #footer {
    display: block;
    overflow-x: hidden;
  }
  #footer ul {
    justify-content: center;
    padding: 0%;
  }
  .works__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    overflow: hidden;
    flex-flow: row wrap;
    margin-top: -7rem;
  }
  .works {
    margin: 1rem;
    width: 40vh;
  }
  .contact__container {
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 2rem;
  }

  .contact__form {
    margin: 0 1.5rem 3rem;
  }

  .form__name input {
    width: 100%;
  }
}
