/* global */
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: inherit;
}
.contain {
  display: block;
  width: 100%;
  position: absolute;
  margin: 0;
  text-align: center;
}

/* navigation bar */
nav {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
nav img {
  width: 20%;
}
nav > ul > li {
  margin-right: 8vw;
  font-weight: 600;
  color: black;
}

/* main section */
#main {
  width: 100%;
  height: 100vh;
}
.mainTitle {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 3vw;
}
#main img {
  width: 40%;
}

/* lastesst works container and cards*/
#work {
  width: 100%;
  height: 100vh;
}
.workContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.work {
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  border-radius: 2em;
  overflow: hidden;
}

.work:nth-child(1) {
  background-image: url("../img/card1.jpg");
  background-size: cover;
}
.work:nth-child(2) {
  background-image: url("../img/card2.jpg");
  background-size: cover;
}
.work:nth-child(3) {
  background-image: url("../img/card3.jpg");
  background-size: cover;
}
.work:nth-child(4) {
  background-image: url("../img/card4.jpg");
  background-size: cover;
}
.work:nth-child(5) {
  background-image: url("../img/card5.jpg");
  background-size: cover;
}
.work:nth-child(6) {
  background-image: url("../img/card6.jpg");
  background-size: cover;
}
/* about section */
#about {
  width: 100%;
  height: 100vh;
  padding-top: 10%;
}

#about img {
  width: 20%;
}

/* scroll to top button */
.scrollTop {
  position: fixed;
  bottom: 3vh;
  right: 5vw;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5 ease 0s;
}
.scrollTop:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
/* footer */
#contact {
  width: 100%;
  height: 20vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a2b2a;
}

#contact p:last-child {
  font-size: 11px;
  margin-top: -15px;
  color: rgba(0, 0, 0, 0.5);
}
#contact img {
  height: 4vh;
  margin: 1vh;
  color: inherit;
}
@media (max-width: 585px) {
  #contact {
    display: block;
  }
  #contact img {
    height: 2vh;
  }
  #contact ul {
    justify-content: center;
    padding: 0%;
  }
}
