body {
  background: tomato;
  margin: 0 auto;
  padding: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: inherit;
}
nav {
  margin: 0 auto;
  width: 100vw;
  height: 10vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
nav > ul {
  display: flex;
  list-style: none;
}

nav > ul > li {
  margin-right: 30px;
  font-weight: 600;
  color: black;
}
